@{
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/a.css">
</head>
<body>
    <p class="p">HTTP: <span>404</span></p>
    <code>
        <b>function</b> <span>try_again()</span> {<br>
        <i>//Escribir nuevamente la pagina</i><br>
        <span>window</span>.<em>location</em>.<span>reload()</span>;<br>
        <i>//Nos cagamos en ejecutivo</i> <br>
        <em>return</em> true }
    </code>
    <code><span>this_page</span>.<em>not_found</em> = true;</code>
    <code><span>if</span> (<b>esta_mal_escrito</b>) {<span>try_again()</span>;}</code>
    <code><span>else if (<b>nos_hemos_equivocado</b>)</span> {<em>alert</em>(<i>"Lo sentimos mucho."</i>); <span>window</span>.<em>location</em> = home;}</code>
    <center><a class="a" asp-controller="Home" asp-action="Index">HOME</a></center>
    <script src="~/js/a.js"></script>
</body>
</html>