@{
    ViewData["Title"] = "EasterEgg";
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="~/css/easteregg.css">
</head>
<body>
  <div class="caja">
    <h1>Creadores de la pagina</h1>
    <a class="fondo">Creadores</a>
    <p>Creadores:<br />
        <a href="https://instagram.com/mau_lang?igshid=YmMyMTA2M2Y=">Maurice Lang</a><br />
        <a href="https://instagram.com/diegoartavia_?igshid=YmMyMTA2M2Y=">Diego Artavia</a><br />
        <a href="https://instagram.com/_nangonzalez_?igshid=YmMyMTA2M2Y=">Nancy Gonzalez</a><br />
        <a href="https://instagram.com/jordy_milos?igshid=YmMyMTA2M2Y=">Jordy Jarquin</a><br />
        <a href="https://instagram.com/james_mor29?igshid=YmMyMTA2M2Y=">James Morgan</a><br />
    </p>
  </div>
</body>
</html>