@{
    ViewData["Title"] = "Inicio";
}

<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="CTP Maximo Quesada">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Inicio</title>
    <link rel="stylesheet" href="~/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="~/css/Inicio.css" media="screen">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
</head>

<body class="u-body u-xl-mode">

    <section class="u-clearfix u-uploaded-video u-video u-section-1" id="sec-2364">
        <div class="u-background-video u-expanded" style="">
            <div class="embed-responsive">
                <video class="embed-responsive-item" data-autoplay="1" loop="" muted="" autoplay="autoplay" playsinline="">
                    <source src="files/WhatsAppVideo2022-03-30at7.28.54AM.mp4" type="video/mp4">
                    <p>Your browser does not support HTML5 video.</p>
                </video>
            </div>
        </div>
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <h3 class="u-align-center u-custom-font u-font-georgia u-text u-text-white u-text-1">
                Hacia una formación
                científica<br>&nbsp;y<br>&nbsp;tecnológica de calidad al Máximo.
            </h3>
        </div>
    </section>
    <section class="u-clearfix u-white u-section-2" id="sec-4a77">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
                <div class="u-layout" style="">
                    <div class="u-layout-row" style="">
                        <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-layout-cell-1" src="">
                            <div class="u-container-layout u-container-layout-1">
                                <h2 class="u-align-center u-text u-text-1">CTP Máximo&nbsp;Quesada</h2>
                                <p class="u-align-center u-text u-text-2">
                                    El&nbsp;<b>Colegio Técnico Máximo Quesada</b>, se funda en el
                                    2001 como colegio académico en el Distrito Patarrá, Cantón de Desamparados, Costa Rica. A partir del
                                    2012 inicia como Colegio Técnico (CTMQ), la oferta de Especialidades incluye: Administración
                                    Logística, Banca y Finanzas, Contabilidad, Ejecutivo para Centro de Servicios, Electrónica Industrial,
                                    Electrónica en Telecomunicaciones, Informática en Desarrollo Web, Productividad y Calidad,
                                    Turismo en Alimentos y Bebidas.
                                </p>
                            </div>
                        </div>
                        <div class="u-align-center u-container-style u-image u-layout-cell u-right-cell u-size-30 u-size-xs-60 u-image-1"
                             src="" data-image-width="1600" data-image-height="1067">
                            <img class="u-image u-image-default u-image-1" src="images/CTP-Maximo-Quesada-en-Patarra_007.jpg" alt=""
                                 data-image-width="452" data-image-height="474">
                        </div>
                        <div class="u-container-layout u-container-layout-2" src=""></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-section-3" id="sec-ff15">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <div class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-13 u-layout-cell-1">
                            <div class="u-container-layout u-valign-top u-container-layout-1">
                                <div alt=""
                                     class="u-align-left u-expanded-width u-image u-image-circle u-preserve-proportions u-image-1" src=""
                                     data-image-width="256" data-image-height="256">
                                    <div class="u-preserve-proportions-child" style="padding-top: 98.04%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-47 u-layout-cell-2">
                            <div class="u-container-layout u-container-layout-2">
                                <h5 class="u-text u-text-1">MBA. Alejandro Brenes Gamboa</h5>
                                <h6 class="u-text u-text-2">Director</h6>
                                <p class="u-text u-text-3">Informacion sobre el director</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-section-4" id="sec-b661">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-text u-text-default u-text-1">Fechas De Festividades</h2>
            <div class="u-expanded-width u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                            <span class="u-icon u-icon-circle u-palette-2-light-1 u-spacing-20 u-icon-1">
                                <svg class="u-svg-link"
                                     preserveAspectRatio="xMidYMin slice" viewBox="0 0 60 60" style="">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-3b83"></use>
                                </svg>
                                <svg class="u-svg-content" viewBox="0 0 60 60" x="0px" y="0px" id="svg-3b83"
                                     style="enable-background:new 0 0 60 60;">
                                    <g>
                                        <path d="M57,4h-7V1c0-0.553-0.447-1-1-1h-7c-0.553,0-1,0.447-1,1v3H19V1c0-0.553-0.447-1-1-1h-7c-0.553,0-1,0.447-1,1v3H3
		C2.447,4,2,4.447,2,5v11v43c0,0.553,0.447,1,1,1h54c0.553,0,1-0.447,1-1V16V5C58,4.447,57.553,4,57,4z M43,2h5v3v3h-5V5V2z M12,2h5
		v3v3h-5V5V2z M4,6h6v3c0,0.553,0.447,1,1,1h7c0.553,0,1-0.447,1-1V6h22v3c0,0.553,0.447,1,1,1h7c0.553,0,1-0.447,1-1V6h6v9H4V6z
		 M4,58V17h52v41H4z"></path>
                                        <path d="M38,23h-7h-2h-7h-2h-9v9v2v7v2v9h9h2h7h2h7h2h9v-9v-2v-7v-2v-9h-9H38z M31,25h7v7h-7V25z M38,41h-7v-7h7V41z M22,34h7v7h-7
		V34z M22,25h7v7h-7V25z M13,25h7v7h-7V25z M13,34h7v7h-7V34z M20,50h-7v-7h7V50z M29,50h-7v-7h7V50z M38,50h-7v-7h7V50z M47,50h-7
		v-7h7V50z M47,41h-7v-7h7V41z M47,25v7h-7v-7H47z"></path>
                                    </g>
                                </svg>


                            </span>
                            <h3 class="u-align-center u-text u-text-default u-text-2">15 de septiembre</h3>
                            <p class="u-align-center u-text u-text-default u-text-3">
                                Como se acostumbra en todo el país, en el CTP Máximo Quesada celebramos la independencia de Costa Rica con actos cívicos. Gracias a esta fecha, en la institución desde que inicia septiembre se fomenta el orgullo de ser ticos al decorar cada pabellón con los colores que mas caracterizan a un tico, el blanco, azul y rojo. El 14 se efectua la tradicion de "Correr la antorcha" y con orgullo los estudiantes de la institucion llevan la antorcha hasta la institucion.
                            </p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                            <span class="u-icon u-icon-circle u-palette-2-light-1 u-spacing-20 u-icon-2">
                                <svg class="u-svg-link"
                                     preserveAspectRatio="xMidYMin slice" viewBox="0 0 60 60" style="">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-3179"></use>
                                </svg>
                                <svg class="u-svg-content" viewBox="0 0 60 60" x="0px" y="0px" id="svg-3179"
                                     style="enable-background:new 0 0 60 60;">
                                    <g>
                                        <path d="M57,4h-7V1c0-0.553-0.447-1-1-1h-7c-0.553,0-1,0.447-1,1v3H19V1c0-0.553-0.447-1-1-1h-7c-0.553,0-1,0.447-1,1v3H3
		C2.447,4,2,4.447,2,5v11v43c0,0.553,0.447,1,1,1h54c0.553,0,1-0.447,1-1V16V5C58,4.447,57.553,4,57,4z M43,2h5v3v3h-5V5V2z M12,2h5
		v3v3h-5V5V2z M4,6h6v3c0,0.553,0.447,1,1,1h7c0.553,0,1-0.447,1-1V6h22v3c0,0.553,0.447,1,1,1h7c0.553,0,1-0.447,1-1V6h6v9H4V6z
		 M4,58V17h52v41H4z"></path>
                                        <path d="M38,23h-7h-2h-7h-2h-9v9v2v7v2v9h9h2h7h2h7h2h9v-9v-2v-7v-2v-9h-9H38z M31,25h7v7h-7V25z M38,41h-7v-7h7V41z M22,34h7v7h-7
		V34z M22,25h7v7h-7V25z M13,25h7v7h-7V25z M13,34h7v7h-7V34z M20,50h-7v-7h7V50z M29,50h-7v-7h7V50z M38,50h-7v-7h7V50z M47,50h-7
		v-7h7V50z M47,41h-7v-7h7V41z M47,25v7h-7v-7H47z"></path>
                                    </g>
                                </svg>


                            </span>
                            <h3 class="u-text u-text-default u-text-4">Día del niño</h3>
                            <p class="u-text u-text-default u-text-5">
                                Cada dia del niño se celebra a los estudiantes que tienen un niño por dentro, se hacen actividades como por ejemplo show de talentos, se hace una competencia de disfraces y otras actividades.
                            </p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                            <span class="u-icon u-icon-circle u-palette-2-light-1 u-spacing-20 u-icon-3">
                                <svg class="u-svg-link"
                                     preserveAspectRatio="xMidYMin slice" viewBox="0 0 60 60" style="">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-f3a6"></use>
                                </svg>
                                <svg class="u-svg-content" viewBox="0 0 60 60" x="0px" y="0px" id="svg-f3a6"
                                     style="enable-background:new 0 0 60 60;">
                                    <g>
                                        <path d="M57,4h-7V1c0-0.553-0.447-1-1-1h-7c-0.553,0-1,0.447-1,1v3H19V1c0-0.553-0.447-1-1-1h-7c-0.553,0-1,0.447-1,1v3H3
		C2.447,4,2,4.447,2,5v11v43c0,0.553,0.447,1,1,1h54c0.553,0,1-0.447,1-1V16V5C58,4.447,57.553,4,57,4z M43,2h5v3v3h-5V5V2z M12,2h5
		v3v3h-5V5V2z M4,6h6v3c0,0.553,0.447,1,1,1h7c0.553,0,1-0.447,1-1V6h22v3c0,0.553,0.447,1,1,1h7c0.553,0,1-0.447,1-1V6h6v9H4V6z
		 M4,58V17h52v41H4z"></path>
                                        <path d="M38,23h-7h-2h-7h-2h-9v9v2v7v2v9h9h2h7h2h7h2h9v-9v-2v-7v-2v-9h-9H38z M31,25h7v7h-7V25z M38,41h-7v-7h7V41z M22,34h7v7h-7
		V34z M22,25h7v7h-7V25z M13,25h7v7h-7V25z M13,34h7v7h-7V34z M20,50h-7v-7h7V50z M29,50h-7v-7h7V50z M38,50h-7v-7h7V50z M47,50h-7
		v-7h7V50z M47,41h-7v-7h7V41z M47,25v7h-7v-7H47z"></path>
                                    </g>
                                </svg>


                            </span>
                            <h3 class="u-text u-text-default u-text-6">Fecha</h3>
                            <h3 class="u-text u-text-default u-text-6">25 de Julio</h3>
                            <p class="u-text u-text-default u-text-7">
                                Celebramos, como todo el país, la anexion de Guanacaste a Costa Rica con actos civicos y otras cosas sobre Guanacaste
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-section-5" id="sec-3915">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h1 class="u-text u-text-default u-text-2">IDENTIDAD</h1>
            <p class="u-text u-text-3">
                Lo que representa a un estudiante del CTP Máximo Quesada es su responsabilidad, y su respeto a las demás personas, la protección de las tradiciones y la innovación en la comunidad, como institucion siempre se busca que los estudiantes reciban la mejor educación, y dentro de la educación, la identidad se ve marcada en los anteriores puntos en los que el estudiante crece no solo en el ámbito educativo, sino también en el personal.
            </p>
        </div>
    </section>
    <section class="u-clearfix u-section-6" id="sec-e460">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <div class="u-expanded-width u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-container-style u-image u-list-item u-repeater-item u-shading u-image-1" data-image-width="2000"
                         data-image-height="1333">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                            <h3 class="u-text u-text-default u-text-1">Comedor</h3>
                            <p class="u-text u-text-default u-text-2">
                                Los estudiantes que requieran del servicio de comedor, podrán comprar su ticket de comida en el primer receso, además el comedor ofrece servicio a becados.
                            </p>
                        </div>
                    </div>
                    <div class="u-container-style u-image u-list-item u-repeater-item u-shading u-image-2" data-image-width="2000"
                         data-image-height="1333">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                            <h3 class="u-text u-text-default u-text-3">Soda</h3>
                            <p class="u-text u-text-default u-text-4">
                                Como en la mayoría de instituciones educativas, el CTP Máximo Quesada tiene una "Soda" en la cual los estudiantes pueden comprar diferentes alimentos.
                            </p>
                        </div>
                    </div>
                    <div class="u-container-style u-image u-list-item u-repeater-item u-shading u-image-3" data-image-width="2000"
                         data-image-height="1333">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                            <h3 class="u-text u-text-default u-text-5">Biblioteca</h3>
                            <p class="u-text u-text-default u-text-6">
                                El CTP Máximo Quesada tiene un lugar para que los estudiantes puedan desestresarse un poco de los estudios leyendo un libro o jugando algún juego de mesa, además la biblioteca presta computadoras y proyectores para efectuar las mejores presentaciones para alumnos y profesores.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
