@model Registros

@{
    ViewData["Title"] = "Modificar";
}

<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="CTP Maximo Quesada">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Login</title>
    <link rel="stylesheet" href="~/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="~/css/login.css" media="screen">
</head>

<body class="u-body u-xl-mode">
    <section class="u-clearfix u-white u-section-1" id="sec-4a77">
        <div class="login">
            <div class="login-screen">
                <span class="u-icon u-text-black u-white u-icon-1" data-href="w" data-page-id="278372782">
                    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 55 55" style="">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-32c2"></use>
                    </svg>
                </span>

                <div class="app-title">
                    <h1>Modificar</h1>
                </div>

                <div class="login-form">
                    <form method="post" asp-action="Modificar" asp-controller="Login">
                        <div class="control-group">
                            <input asp-for="User" type="text" class="login-field" placeholder="Username" id="login-name">
                            <label class="login-field-icon fui-user" for="login-name"></label>
                            <span asp-validation-for="User" class="text-danger"></span>
                        </div>

                        <div class="control-group">
                            <input asp-for="Pass" type="password" class="login-field" placeholder="Password" id="login-pass">
                            <label class="login-field-icon fui-lock" for="login-pass"></label>
                            <span asp-validation-for="Pass" class="text-danger"></span>
                        </div>

                        <div class="control-group">
                            <input asp-for="Cedula" type="text" class="login_field" placeholder="Cedula" id="login-cedula">
                            <label class="login-field-icon fui-number" for="login-cedula"></label>
                            <span asp-validation-for="Cedula" class="text-danger"></span>
                        </div>

                        <input type="submit" value="Guardar" class="btn btn-primary" />
                    </form>

                </div>
            </div>
        </div>
    </section>

</body>

</html>