@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="CTP Maximo Quesada">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Inicio Base de Datos</title>
    <link rel="stylesheet" href="~/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="~/css/perfil.css" media="screen">
    <link rel="stylesheet" href="~/css/database.css" media="screen">
</head>

<body class="u-body u-xl-mode">
    <section class="u-clearfix u-white u-section-1" id="sec-4a77">
        <div class="login">
            <div class="login-screen">
                <div class="login-form">
                    <div class="header-profile">
                        <div class="card">
                            <h1>Base de Datos</h1>
                        </div>
                    </div>
                    <div class="footer-profile">
                        <div class="card2">
                            <a class="boton" asp-area="" asp-controller="Database" asp-action="ListaE">Estudiantes</a>
                            <a class="boton" asp-area="" asp-controller="Database" asp-action="ListaD">Docentes</a>
                            <a class="boton" asp-area="" asp-controller="Database" asp-action="ListaA">Administrativos</a>
                            <a class="boton" asp-area="" asp-controller="Database" asp-action="Cambio">Cambio de año</a>
                            <a class="boton" asp-area="" asp-controller="Database" asp-action="Lista7_1">7-1</a>
                            <a class="boton" asp-area="" asp-controller="Database" asp-action="Lista7_2">7-2</a>
                            <a class="boton" asp-area="" asp-controller="Database" asp-action="Lista7_3">7-3</a>
                            <a class="boton" asp-area="" asp-controller="Database" asp-action="Lista7_4">7-4</a>
                            <a class="boton" asp-area="" asp-controller="Database" asp-action="Lista7_5">7-5</a>
                            <a class="boton" asp-area="" asp-controller="Database" asp-action="Lista7_6">7-6</a>
                            <a class="boton" asp-area="" asp-controller="Database" asp-action="Lista8_1">8-1</a>
                            <a class="boton" asp-area="" asp-controller="Database" asp-action="Lista8_2">8-2</a>
                            <a class="boton" asp-area="" asp-controller="Database" asp-action="Lista8_3">8-3</a>
                            <a class="boton" asp-area="" asp-controller="Database" asp-action="Lista8_4">8-4</a>
                            <a class="boton" asp-area="" asp-controller="Database" asp-action="Lista8_5">8-5</a>
                            <a class="boton" asp-area="" asp-controller="Database" asp-action="Lista8_6">8-6</a>
                            <a class="boton" asp-area="" asp-controller="Database" asp-action="Lista9_1">9-1</a>
                            <a class="boton" asp-area="" asp-controller="Database" asp-action="Lista9_2">9-2</a>
                            <a class="boton" asp-area="" asp-controller="Database" asp-action="Lista9_3">9-3</a>
                            <a class="boton" asp-area="" asp-controller="Database" asp-action="Lista9_4">9-4</a>
                            <a class="boton" asp-area="" asp-controller="Database" asp-action="Lista9_5">9-5</a>
                            <a class="boton" asp-area="" asp-controller="Database" asp-action="Lista9_6">9-6</a>
                            <a class="boton" asp-area="" asp-controller="Database" asp-action="Lista10_1">10-1</a>
                            <a class="boton" asp-area="" asp-controller="Database" asp-action="Lista10_2">10-2</a>
                            <a class="boton" asp-area="" asp-controller="Database" asp-action="Lista10_3">10-3</a>
                            <a class="boton" asp-area="" asp-controller="Database" asp-action="Lista10_4">10-4</a>
                            <a class="boton" asp-area="" asp-controller="Database" asp-action="Lista11_1">11-1</a>
                            <a class="boton" asp-area="" asp-controller="Database" asp-action="Lista11_2">11-2</a>
                            <a class="boton" asp-area="" asp-controller="Database" asp-action="Lista11_3">11-3</a>
                            <a class="boton" asp-area="" asp-controller="Database" asp-action="Lista11_4">11-4</a>
                            <a class="boton" asp-area="" asp-controller="Database" asp-action="Lista12_1">12-1</a>
                            <a class="boton" asp-area="" asp-controller="Database" asp-action="Lista12_2">12-2</a>
                            <a class="boton" asp-area="" asp-controller="Database" asp-action="Lista12_3">12-3</a>
                            <a class="boton" asp-area="" asp-controller="Database" asp-action="Lista12_4">12-4</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>