@{
    ViewData["Title"] = "SobreNostros";
}

<!DOCTYPE html>
<html style="font-size: 16px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="CTP Maximo Quesada">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>CTP Maximo Quesada | Sobre Nosotros</title>
    <link rel="stylesheet" href="~/css/styleSobreNosotros.css">
    @*<!-- Icono barra de navegacion -->
    <link rel="icon" href="C:/Users/Giovanny/Documents/Diego Artavia/Proyecto CTP QM/Sitio Web/Sobre nosotros/img/CMQT_Escudo_2012-removebg-preview.png">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <!-- Tipografias -->*@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
</head>
@*<!-- Navbar -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- Body -->*@
<body class="u-body u-xl-mode">
    <br>
    <!-- Indice -->
    <div class="idc-box">
        <p class="idc-titulo">Contenidos</p>
        <ul class="idc-lista">
            <li>
                <a href="#banner1">Informacion del colegio</a>
            </li>
            <li><a href="#banner2">Historia</a></li>
            <li><a href="#banner3">Mision y vision</a></li>
            <li><a href="#banner4">Cooperativa</a></li>
            <li><a href="#himnba">Himno del Colegio</a></li>
        </ul>
    </div>

    <!-- banners -->
    <div class="banner" id="banner1">
        <h1>Información del colegio</h1>
    </div>

    <div class="info" id="info1">
        <p>
            Nombre Oficial: Colegio Técnico Máximo Quesada Picado <br>

            Siglas Oficiales: CTMQ <br>

            Modalidad: III y IV Ciclo Educación Especial III y IV Ciclo Educación Técnica <br>

            Fundación: El 01 de febrero del 2001 se funda, por el Señor Guillermo Vargas Salazar Ministro de Educación Pública de Costa Rica, el Colegio  <br> Académico Máximo Quesada Picado (CMQ) A partir del 01 de febrero 2012 se transforma como Colegio Técnico Máximo Quesada (CTMQ), siendo <br>inaugurado el 08 de febrero del 2012 por M.Sc. Silvia Víquez Ramirez, Viceministra Administrativa<br>
            Localización: El Colegio Técnico Máximo Quesada se ubica en el Campus Académico: "Juan Bautista Monge Muñoz". Sita: 1 km al sur y 300 al este del<br> Templo Católico San Juan Bautista de Patarrá, Desamparados; San José Costa Rica.<br>
            Ubicación administrativa: Circuito Educativo 01, Dirección Regional de Educación de Desamparados, Ministerio de Educación Pública de Costa Rica.
        </p>
    </div>

    <br>
    <div class="banner" id="banner2">
        <h1>Historia</h1>
    </div>

    <div class="info" id="info2">
        <p>
            En noviembre del año 1999, la señora Inés Mesén Monge en calidad de dirigente comunal eleva al señor presidente de la República, la preocupación de los pobladores del Distrito de Patarrá, en cuanto a que sus hijos que cursan Sexto Grado de la Educación Primaria, en las escuelas de la comunidad, ven frustrados las posibilidades de continuar sus estudios secundarios, pese a ser un derecho consagrado en la constitución.
            La solicitud planteada por la señora Mesén Monge, es respondida personalmente por el señor Presidente de la República el 6 de diciembre de 1999 en Oficio GP/1715, en el que le informa lo siguiente:<br>
            “su solicitud la estoy trasladando al Señor Guillermo Vargas Salazar, Ministro de Educación Pública, quién podría resolver favorablemente su caso, de conformidad con lo establecido por la Ley”.
            <br><br>
            Al trasladar el señor Presidente la solicitud al señor Ministro de Educación, de construir un colegio en Patarrá, el 29 de enero del 2001 la señora Inés Mesén, envía nota al señor Ministro solicitando estudie la posibilidad de construir un colegio diurno académico en Patarrá de Desamparados.
            <br><br>
            La Asamblea General de la Asociación de Desarrollo Integral de Patarrá, acuerda de manera extraordinaria (según lo refiere la nota remitida con fecha 23 de octubre del 2000 por la señora Marta Picado Mesén y Yanitza Ureña Monge (Presidenta y Secretaria respectivamente) al señor Viceministro de Educación; para:<br>
            • Apoyar irrestrictamente a los padres de familia<br>
            • Ratificar el acuerdo de Junta Directiva de prestar al salón comunal para la instalación
            temporal del colegio.<br><br>

            En esa misma nota las firmantes le exponen al señor Viceministro de Educación, Licenciado Eduardo Loría: “Recurrimos a usted con la esperanza de que interceda en la aprobación del mismo, para juntos, gobierno y sociedad civil hacer posible el anhelo de nuestros niños, cuál es, seguir los estudios secundarios” A la vez que para tranquilidad de los padres de familia le solicita el pronto y oportuno pronunciamiento del ministerio, y así planificar de manera adecuada, las acciones a seguir.<br>
            La nota recibida en el Despacho del señor Viceministro de Educación es trasladada a la M.Sc. Florencia Rodríguez Martín, Directora de la División de Planeamiento y Desarrollo Educativo del Ministerio de Educación Pública, quien el 6 de noviembre del 2000, remite al señor Gerardo Coto Araya, Director de Desarrollo Educativo de la Región Educativa de Desamparados, Oficio DEPP-3052-2000, en el que le solicita:
            “Realizar el estudio correspondiente y coordinar con la Asociación de Desarrollo Integral de Patarrá para localizar un terreno en que pueda instalarse un nuevo centro educativo de III Ciclo y IV Ciclo”, lo anterior con el fin de resolver lo más pronto posible la situación expuesta por las señoras Mesén y Ureña.<br><br>

            El 11 de diciembre del 2000 en oficio DEPP-3353-2000, se le comunica oficialmente al Director Regional de Educación de Desamparados por parte de la Directora del Departamento de Estudios y Programación Presupuestaria que la Comisión de Creación de Centros Educativos, conoció la solicitud de apertura de un colegio de la comunidad de Patarrá y que la misma considera indispensable para la aprobación disponer información sobre el grado de avance de los trámites para la adquisición del terreno a más tardar para el día al 15 de diciembre.<br><br>

            El 14 de diciembre del año 2000, El Director Regional en Oficio DRD-1069-2000 informa a la Directora del Departamento de Programación Presupuestaria que hasta ese día recibió el criterio de la Asociación de Desarrollo Integral de Patarrá, y plantea en caso de que fuese decretada la creación del colegio para el 2001<br>
            El inicio del año 2001, ve coronado los esfuerzos de la Asociación de Desarrollo Integral y de los vecinos de los Distritos de Damas y Patarrá al firmarse por el señor Ministro de Educación Licenciado Guillermo Vargas Salazar y la Licenciada Marta Picado Mesén, Presidenta de la Asociación de Desarrollo Integral de Patarrá el convenio de la puesta en marcha del colegio de Patarrá, denominado desde ese momento con el nombre de Máximo Quesada Picado.<br><br>

            El Colegio Máximo Quesada (CMQ) inició sus labores administrativas y curriculares el 01 de febrero de 2001, en el salón comunal de Patarrá, con una matrícula de 180 alumnos en el nivel de séptimo año. Las condiciones del salón no eran aptas, pero el interés de los alumnos, el esfuerzo de la comunidad y la hidalguía del personal docente y administrativo confabulado con el apoyo de la Asociación de Desarrollo Integral primero y luego de la Junta Administrativa, hicieron posible transformar aquel lúgubre aposento en casa de enseñanza secundaria, la cual fue inaugurada por el señor Ministro de Educación Pública Guillermo Vargas Salazar en el mes de mayo del 2002.<br><br>

            El Colegio permanece en el salón comunal hasta el curso lectivo 2006, mientras se gestionaron los trámites de adquisición del terreno y desarrolló el proyecto constructivo de su primera etapa infraestructural, la cual fue inaugurada el 01 de marzo del 2007, por el señor Ministro de Educación Pública Leonardo Garnier Rímolo.<br>
            Luego de 10 años de exitoso trabajo, a partir del año 2012, el Colegio se transforma y pasa de modalidad Académica a Técnica.<br><br>

            El día 8 de febrero de 2012 en el marco de inicio de curso lectivo la Sra. Viceministra Administrativa Silvia Víquez Ramírez, en compañía del Sr. Fernando Bogantes y el Sr. Carlos Villalobos Arguello y en presencia de la Junta Administrativa Presidida por el Sr. Omar R. Guerrero Cordero y el Sr. Director Juan Antonio Arroyo Valenciano, personal docente y administrativo, alumnos y padres de familia, invitados especiales realiza la inauguración oficial del Colegio Técnico Máximo Quesada Picado, cuya oferta educativa técnica para III Ciclo en el nivel de sétimo año incluye los talleres exploratorios:<br>

            · Animación de actividades Turísticas<br>
            · Ideando mi pequeña empresa<br>
            · Oficina Moderna<br>
            · Tecnologías de la Información y la Comunicación<br><br>

            Así como las especialidades para IV Ciclo nivel décimo año:<br>
            · Banca y Finanzas<br>
            · Ejecutivo para Centro de Servicios<br>
            · Electrónica Industrial<br>
            · Mantenimiento de Software<br>
        </p>
    </div>

    <br>
    <div class="banner" id="banner3">
        <h1>Mision y visión</h1>
    </div>

    <div class="info" id="info3">
        <p>
            Visión <br>
            Gestar procesos educativos de excelencia y calidad mediante un uso eficiente y eficaz de los recursos, con la integración y el compromiso de los actores del entorno educativo y sociocultural; con el fin de lograr a plenitud los fines de la educación costarricense en sus alumnos, en el marco de una institución modelo en el campo académico, tecnológico y laboral.
            <br><br>
            Misión<br>

            El Colegio Máximo Quesada como institución pública fundada en el año 2001 pretende consolidarse como una organización líder del desarrollo integral de los jóvenes del Distrito de Patarrá. Para ello, ofrecerá procesos de enseñanza aprendizaje de excelencia y calidad que conlleven al desarrollo de la más alta formación académica, tecnológica, axiológica y humana que proporcione:
            <br>
            · Aprendizajes innovadores, creativos y significativos que los alumnos requieran. <br>
            · Un servicio educativo pertinente a las expectativas e intereses de los padres de familia. <br>
            · El desarrollo científico tecnológico y cultural de la comunidad acorde con sus valores y tradiciones.<br>
        </p>
    </div>
    <br>
    <div class="banner" id="banner4">
        <h1>Cooperativa</h1>
    </div>

    <div class="info" id="info4">
        <p>
            Historia <br>
            Se creó el 28 de julio del 2004 con 25 asociados<br>
            <br>
            Proyectos<br>
            El ahorro estudiantil (Eje central de la cooperativa)<br>
            La venta de libros<br>
            El servicio de impresión<br>
            El bazar<br><br>
            Actividad anual<br>
            Concurso de dibujo<br>
            Funciones<br>
            Promover los valores y principios cooperativos, promover la cultura del ahorro, enseñar a establecer metas a corto plazo, trabajo en equipo, enseñanza en liderazgo cooperativo<br><br>
        <p class="infoaocultar">
            Visión:<br>
            Proyectar una imagen positiva y de compromiso ante clientes, proveedores y público en general, factible y realista de acuerdo al recurso y capacidad de la empresa<br><br>
            Misión:<br>
            Garantizar un servicio rápido, eficiente y de calidad hacia la comunidad educativa, para un uso eficaz del tiempo, con colaboradores comprometidos, beneficios económicos y comunicación directa<br><br>
            Valores: <br>Respeto<br>Compromiso<br>Solidaridad<br>Responsabilidad<br>Ayuda mutua
        </p>
        </p>
    </div>
    <br>
    <div class="banner" id="himnba"><h1>Himno al CTP Maximo Quesada</h1></div>
    <br>
    <div class="himno">
        <p>
            Con el son de mazos y cinceles nació<br>
            Patarrá tierra de cal, tierra de hombres y<br>
            mujeres valientes que luchamos por la<br>
            "educación lograr.<br>
            <br>
            Doña Inés nos mostró el camino y este<br>
            pueblo bregó con tesón, para que hoy<br>
            saludemos unidos al colegio con el<br>
            corazón.<br>
            <br>
            Venerable templo de enseñanza, dulce<br>
            hogar donde habita el saber, hacia ti<br>
            caminamos gozosos con orgullo a<br>
            cumplir el deber.<br>
            <br>
            Tus salones con ansia me acogen y la<br>
            luz del saber me guiará por caminos de<br>
            artes y ciencias para el máximo logro<br>
            alcanzar.
            <br>
            Dulce arroyo que al alma lozana la<br>
            proteges, das paz y salud
            juventud del Máximo  Quesada  <br>
            irradie honor,<br>
            sabiduría y virtud. (Bis)
        </p>
    </div>
</body>
</html>