.login {
    margin: 20px auto;
    width: 300px;
}

.login-screen {
    background-color: #FFF;
    padding: 20px;
    border: 5px solid;
    border-radius: 10px;
}

.u-section-1 .u-icon-1 {
    height: 3cm;
    width: 3cm;
    margin: 0 auto;
}

.app-title {
    text-align: center;
    color: #777;
    margin-bottom: 6.5px;
}

.login-form {
    text-align: center;
}

.control-group {
    margin-bottom: 5px;
}

input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
}

    input:focus {
        border: 2px solid #3498DB;
        box-shadow: none;
    }

select {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
}

    select:focus {
        border: 2px solid #3498DB;
        box-shadow: none;
    }

.btn {
    border: 2px solid transparent;
    background: #3498DB;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
}

    .btn:hover {
        background-color: #2980B9;
    }

.link {
    margin-top: 12px;
}

.login-link {
    font-size: 14.5px;
    color: #444;
    display: block;
}
