* {
    padding: 0;
    margin: 0;
}

html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

body {
    background-image: url(img/FondoM.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.idc-box {
    background: rgba(0,0,0,0.5) none repeat scroll 0 0;
    border: 1px solid #ffffff;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    width: auto;
    position: fixed;
}

@media handheld, only screen and (max-width: 767px) {
    .idc-box {
        padding-left: 10px;
        padding-right: 32%;
        margin-left: 5%;
        margin-right: 5%;
        position: static;
    }
}

.idc-box .idc-titulo {
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

.idc-box li, .idc-box ul, .idc-box ul li {
    padding: 0 5px;
    list-style: outside none none !important;
}

    .idc-box li, .idc-box ul, .idc-box ul li a {
        color: #ffffff;
        text-decoration: none;
    }
/* base */
.info {
    padding: 30px 25px 25px 25px;
    background-color: rgba(0,0,0,0.6);
    color: #ffffff;
    margin: 2% 20% 0px 20%;
}

.banner {
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    padding: 10px 10% 10px 10%; /* Arriba, derecha, abajo, izquierda */
    background-color: #56070C;
    color: #EEE8AA;
}
/*Responsive Himn*/
@media handheld, only screen and (max-width: 767px) {
    .info {
        padding: 10px 15px 10px 15px;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media handheld, only screen and (max-width: 767px) {
    .banner {
        margin-right: 5%;
        margin-left: 5%;
        text-align: center;
        padding: 10px 5% 10px 5%; /* Arriba, derecha, abajo, izquierda */
    }
}

.banner #banner1 h1 {
    font-family: 'Noto Serif', serif;
}
/*Responsive Ps and Banner*/
@media handheld, only screen and (max-width: 767px) {
    .infoaocultar {
        display: none;
    }
}

@media handheld, only screen and (max-width: 767px) {
    .brocul {
        display: none;
    }
}

@media handheld, only screen and (max-width: 767px) {
    .banner {
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }
}
/* -------------------------- TABLAS ------------------------- */
#fasdivT {
    background-color: #302d2d;
}

td {
    text-align: left;
    border: 1px solid #ffffff;
}

#fasdivT {
    text-align: center;
}

th {
    background-color: #6b6868;
    border: 1px solid #ffffff;
}

.S2daLin, .S6taLin, .T13maLin {
    text-align: center;
}

.txtT {
    padding: 10px;
}

#celdaIzq {
    width: 500px;
}

#celdaCen {
    width: 250px;
}

#celdaDer {
    width: 250px;
}
/* Responsive */
@media handheld, only screen and (max-width: 767px) {
    #celdaIzq {
        width: 40%;
    }
}

@media handheld, only screen and (max-width: 767px) {
    #celdaCen {
        width: 25%;
    }
}

@media handheld, only screen and (max-width: 767px) {
    #celdaDer {
        width: 30%;
    }
}
/* -------------FOOTER------------------ */
.P_foot {
    padding-left: 70px;
}

#iconfi {
    padding-right: 70px;
}

.ctpcopy {
    color: #EEE8AA;
}
/*Responsive Footer*/
@media handheld, only screen and (max-width: 767px) {
    .P_foot {
        padding-left: 27px;
    }
}

@media handheld, only screen and (max-width: 767px) {
    #iconfi {
        padding-left: 70px;
    }
}
