@{
    ViewData["Title"] = "Academicas";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="academicas.css">
    <title>Academicas</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <link rel="stylesheet" href="~/css/academicas.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>

<body style="background-image: url('../img2/academicas.jpeg'); 
background-repeat: no-repeat; 
background-size: cover; 
background-attachment: fixed;">
    <br>
    <h1 class="titulo">
        Materias Academicas
    </h1>
    <br>
    <div class="container text-center">
        <div class="row">
            <div class="col align-self-start">

                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/img/Español.gif" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Español</h5>
                                <p class="card-text">La asignatura de Español tiene como propósito fundamental el desarrollo de la competencia comunicativa y lingüística en forma efectiva e independiente.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/img/Ciancias.gif" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Ciencias</h5>
                                <p class="card-text">Las ciencias no solo ha de permitir que los estudiantes adquieran los conocimientos y habilidades científicas fundamentales, sino también que comprendan cómo funciona y opera la ciencia y la comunidad científica y válida el conocimiento.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/img/Civica.gif" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Civica</h5>
                                <p class="card-text">Favorece la formación de actitudes cívicas que estimulan el sentido de pertenencia activa a la comunidad nacional.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/img/fisicamate.gif" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Física-mate</h5>
                                <p class="card-text">Tiene como objetivo formar conocimientos sólidos de los temas centrales de la física, a saber electromagnetismo, mecánica clásica, mecánica cuántica, técnicas experimentales de la física y métodos matemáticos de la física.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/img/biologia.gif" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Biologia</h5>
                                <p class="card-text">La biología contribuye a un mejor conocimiento sobre el comportamiento de los seres vivos aplicando teoría y fórmulas para una mejor.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/img/musica.gif" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Música</h5>
                                <p class="card-text">La Educación Musical contribuye a su formación integral desarrollando su vida física, psíquica, intelectual y moral.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/img/religion.gif" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Religión</h5>
                                <p class="card-text">Fortalecer y mejorar las oportunidades educativas, convencido de que este es el camino idóneo para forjar un sistema democrático, equitativo, libre, civilista y solidario.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="col align-self-end">

                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/img/Matematicas.gif" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Matemáticas</h5>
                                <p class="card-text"> El área de matemática busca formar ciudadanos que sean capaces de argumentar y explicar los procesos utilizados en la resolución de problemas de los más variados ámbitos y sobre todo con relación a la vida cotidiana.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/img/quimica.gif" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Química</h5>
                                <p class="card-text">La química tiene una función social en la que la preservación del ambiente, la convivencia en armonía con el otro, la ética profesional, son claves, por lo que en el diseño del currículo intentan aportar a ello.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/img/Estudios.gif" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Estudios Sociales</h5>
                                <p class="card-text">Estudios Sociales tiene como objetivo ofrecer a los estudiantes una visión general de la sociedad donde viven; su ubicación y desarrollo en el espacio; su origen y evolución histórica; su papel en el marco de la Geografía y la Historia del mundo.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/img/educ.fisica.gif" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Educación Fisica</h5>
                                <p class="card-text">La prioridad de la Educación Física es la construcción de la corporeidad, teniendo como propósito la conformación de la entidad corporal en la formación integral del ser humano.</p>

                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/img/ingles.gif" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Ingles</h5>
                                <p class="card-text">Utilizar la lengua extranjera para organizar el pensamiento y el discurso; analizar de modo crítico y resolver problemas, así como participar en diversos intercambios y expresiones culturales propias y de otros países.</p>

                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/img/frances.gif" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Francés</h5>
                                <p class="card-text">Mediante el aprendizaje del francés, los alumnos se familiarizan con la lengua y cultura de otro país miembro de la Comunidad Europea, así, los medios necesarios para ser unos verdaderos ciudadanos del mundo.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/img/etica.gif" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Ética</h5>
                                <p class="card-text">La ética se define como una ciencia que estudia el bien y el mal, las relaciones con la moral y el comportamiento del estudiante. La ética permite tener una mejor convivencia entre las personas.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>

</body>
</html>
